// Buttons
.btn {
	position: relative;
	padding: 15px 45px;
	color: $subscribe-color;
	background: $border-logo-color;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	text-transform: uppercase;
	font-family: $font-family-osvald;
	cursor: pointer;

	@include max-w (568px) {
		padding: 5px;
	}

	&__arrow {
		position: absolute;
		right: 0;
		bottom: 27px;
	}

	&__arrow-other {
		position: absolute;
		right: 0;
		bottom: 15px;

		@include max-w (992px) {
			bottom: 5px;
		}
	}

	&__index {
		border-left: 1px solid $border-color;
	}

	&__form {
        position: absolute;
        right: 30px;
        bottom: 25px;
	}
	
	&__form {
		padding: 0 45px;
		border: none;
		text-transform: uppercase;
		background: transparent;
		color: $subscribe-color;
		outline: none;
		font-family: $font-family-osvald;
		cursor: pointer;
	}

	&__arrow-form {
		margin-left: 45px;
	}
}