// All elements Form
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
  font-family: $font-family-garamond;
  width: 100%;
  max-width: 100%;
  background: none;
  outline: 0 none;
  padding: 15px;
  color: $text-color;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 12px;
}
