// All elements Form
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
  font-family: $font-family-garamond;
  width: 100%;
  max-width: 100%;
  background: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  outline: 0 none;
  padding: 15px;
  color: $text-color;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 12px;
}

.border-message {
  border-bottom: 1px solid $border-color;
  height: 130px;
}

input[id="email"]::-webkit-input-placeholder { color: $title-color; font-size: $font-size + 4; }
input[id="email"]:-ms-input-placeholder { color: $title-color; font-size: $font-size + 4; }
input[id="email"]::-ms-input-placeholder { color: $title-color; font-size: $font-size + 4; }
input[id="email"]::placeholder { color: $title-color; font-size: $font-size + 4; }