.details {
    border-top: 1px solid $border-color;
    padding: 25px 0;

    &__text {
        font-size: $font-size + 4;
    }

    &__images {
        width: 74%;
        margin: auto;
    }

    &__img {
        width: 100%;
        height: auto;
    }
}