.caption {
		margin: auto;
		padding: 100px 0 50px 0;
		width: 64%;
    text-align: center;
		font-size: $font-size + 4;
		
		@include max-w (568px) {
			width: 100%;
		}
	}
	
.title {
		text-align: center;
		text-transform: uppercase;
		font-family: $font-family-osvald;

		&__wine {
			padding: 100px 0 50px 0;
		}
	}

.text {
		color: $text-color;
		font-size: $font-size + 4;

		&--paramondit {
			text-align: center;
			font-family: $font-family-garamondit;
			color: $title-color;
		}
	}

.wrap-row {
		display: flex;
		padding: 3px 10px;
		border-top: 2px solid $border-color;
		border-bottom: 2px solid $border-color;

		@include max-w (568px) {
			flex-direction: column;
		}
	}

.wrap-column {
		display: flex;
		flex-direction: column;
		padding: 3px 10px;
		border-top: 2px solid $border-color;
		border-bottom: 2px solid $border-color;
	}

.instaphotos {
    display: flex;
		justify-content: space-between;
		
		@include max-w (992px) {
		flex-direction: column;
	}
		
    &__img {
				justify-content: center;
				display: block;
				max-width: 100%;

				@include max-w (992px) {
					margin: 10px auto;
					width: 60%;
				}

				@include max-w (568px) {
					margin: 20px auto;
					width: 100%;
				}
		}
}

.sendMail {
	width: 60%;
	margin: auto;
	padding: 100px 0;

	@include max-w (992px) {
		width: 100%;
	}

	&__wrap {
		padding: 3px 10px;
		border-top: 2px solid $border-color;
		border-bottom: 2px solid $border-color;
	}

	&__content {
		display: flex;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
}

.meet {
	background-image: url('../../images/meet.png');
  background-position: top center;
  background-size: cover;
	background-repeat: no-repeat;
}

.info {
	padding: 95px 0 100px 0;
	text-align: center;

	@include max-w (992px) {
		padding: 50px 0;
	}

	@include max-w (568px) {
		padding: 30px 0;
	}

	&__wrap {
		width: 33%;
		margin: auto;
		padding: 10px;
		background: $border-logo-color;
		position: relative;

		@include max-w (992px) {
			width: 50%;
		}
	
		@include max-w (568px) {
			width: 100%;
		}

		&--border {
			padding: 30px;
			background: $border-logo-color;
			border: 2px solid $subscribe-color;

			@include max-w (568px) {
				padding: 15px;
			}
		}
	}
	&__text {
		font-family: $font-family-garamondit;
		font-size: $font-size + 4;
	}
}

.contact {
	padding: 100px 0 30px 0;
}

.email {
	width: 40%;
	padding: 20px 0 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include max-w (568px) {
		width: 100%;
	}

	&__link {
		font-family: $font-family-garamondit;
	}
}

.border-top-bottom {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

.address {
	width: 30%;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include max-w (568px) {
		width: 100%;
	}
}

.border-top-right-bottom {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	border-right: 1px solid $border-color;

	@include max-w (568px) {
		border-right: none;
	}
}

.social {
	width: 30%;
	padding: 20px 0 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include max-w (568px) {
		width: 100%;
	}
}

.border-top-bottom-left {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	border-left: 1px solid $border-color;

	@include max-w (568px) {
		border-left: none;
	}
}

.social-icons {
	width: 90px;
	display: flex;
	justify-content: space-between;

	&__link {
		font-size: $font-size + 8;

		&:hover {
			color: $link-color--hover;
			transform: 0.4s;
		}
	}
}