.story {
		margin: auto;
		padding: 100px 0 50px 0;
		width: 70%;
    text-align: center;
    font-size: $font-size * 2.5;
  
    &__title {
			text-transform: uppercase;
      font-family: $font-family-osvald;
    }
  
    &__text {
      color: $text-color;
    }
  }

  .instaphotos {
      display: flex;
      justify-content: space-between;

      &__img {
          display: block;
      }
	}
	
.sendMail {
	width: 60%;
	margin: auto;
	padding: 100px 0;

	&__wrap {
		padding: 3px 10px;
		border-top: 2px solid $border-color;
		border-bottom: 2px solid $border-color;
	}
	&__input {
		border: none;
	}
	&__content {
		display: flex;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
	&__btn {
		display: flex;
		padding: 15px 45px;
		color: $subscribe-color;
		background: #ffffff;
		outline: none;
		border-left: 1px solid $border-color;
		border-right: none;
		text-transform: uppercase;
		font-family: $font-family-osvald;
		&--arrow {
			margin-left: 20px;
		}
	}
}

input[type="email"]::-webkit-input-placeholder { color: $title-color; font-size: $font-size * 2.5; }
input[type="email"]:-ms-input-placeholder { color: $title-color; font-size: $font-size * 2.5; }
input[type="email"]::-ms-input-placeholder { color: $title-color; font-size: $font-size * 2.5; }
input[type="email"]::placeholder { color: $title-color; font-size: $font-size * 2.5; } 

.meet {
	background-image: url('../../images/meet.png');
  background-position: top center;
  background-size: cover;
	background-repeat: no-repeat;
	padding: 94px 0 101px 0;
	text-align: center;

	&__wrap {
		width: 40%;
		margin: auto;
		padding: 10px;
		background: #ffffff;

		&--border {
			padding: 30px 30px 50px 30px;
			border: 2px solid #781241;
		}
	}

	&__title {
		font-family: $font-family-osvald;
		text-transform: uppercase;
	}

	&__text {
		font-family: $font-family-garamondit;
		font-size: $font-size * 2.5;
	}
}

.contact {
	padding: 100px 0 30px 0;

	&__wrap {
		display: flex;
		padding: 3px 10px;
		border-top: 2px solid $border-color;
		border-bottom: 2px solid $border-color;
	}

	&__title {
		text-transform: uppercase;
	}

	&__text {
		font-family: $font-family-garamondit;
	}
}

.email {
	width: 40%;
	text-align: center;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

.adress {
	width: 30%;
	text-align: center;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	border-right: 1px solid $border-color;
}

.social {
	width: 30%;
	text-align: center;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	border-left: 1px solid $border-color;
}

.social-icons__link {
	font-size: $font-size * 4;
	&: hover {
		color: $link-color--hover;
		transform: 0.4s;
	}
}