.new {
    width: 47%;
    border-top: 2px solid $border-color;
    margin: 15px;
    padding: 3px;

    &__wrap {
        position: relative;
        border-top: 1px solid $border-color;
    }

    &__img {
        position: relative;
        overflow: hidden;
        height: 225px;

        &--hidden {
            position: absolute;
            top: 0;
        }
    }
}