.page-header {
  position: relative;
}

.banner {
  display: flex;
  justify-content: center;
  background-image: url('../../images/layerMain.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 170px 0 250px 0;

  &__link {
    border: 10px solid #ffffff;
  }

  &__logo {
    padding: 35px 65px;
    background: #ffffff;
    border: 2px solid #781241;
  }
}

.header-nav {
  position: absolute;
  z-index: 1;
  padding: 30px 320px;

  &__item {
    margin: 0 20px;
    color: #ffffff;
    font-size: $font-size*2.5;
    font-family: $font-family-osvald;
    text-transform: uppercase;

    &:hover {
      color: #ffffff;
      border-bottom: 2px solid #ffffff;
    }
  }
}