.page-header {
  position: relative;
  margin: auto;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--index {
    background-image: url('../../images/layerMain.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--wines {
    background-image: url('../../images/layerWines.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__logo {
    display: block;
    padding: 35px 65px;
    background: $border-logo-color;
    border: 2px solid $subscribe-color;
  }

  &__link {
    border: 10px solid $border-logo-color;
    display: inline-block;

    &--wrap-index {
      margin: auto;
      padding: 170px 0 250px 0;
    }

    &--wrap-wines {
      margin: auto;
      padding: 10px 0 40px 0;
    }
  }
}

.header-nav {
  padding: 30px 0;

  &__item {
    margin: 0 20px;
    color: $border-logo-color;
    font-size: $font-size + 8;
    font-family: $font-family-osvald;
    text-transform: uppercase;

    &:hover {
      color: $border-logo-color;
      border-bottom: 2px solid $border-logo-color;
    }
  }
}